

h1 {
	
	padding-left: 20px;
	padding-top: 0px;
	color: 737373;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 23px;

}

#scale {
	border: 15px solid silver;
	background-color: E3E6E8;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#colors {
	border-top: 15px solid silver;
}

span {
	font-size: 30px;
}

p {
	margin: 0px;
	color:white;
	padding: 2px;
	font-size: 12px;
}

#p14 {
	background-color: 1397F0;
	
}

#p13 {
	background-color: 35A5F0;
}

#p12 {
	background-color: 56B2F0;
}

#p11 {
	background-color: 6EBCF0;
}

#p10 {
	background-color: 8DC8F0;
}	

#p9 {
	background-color: AAD5F2;
}

#p8 {
	background-color: C5DEF0;
}

#p7 {
	background-color: 0ECF8B;
}

#p6 {
	background-color: F595F2;
}

#p5 {
	background-color: F27CEE;
}

#p4 {
	background-color: F268EE;
}

#p3 {
	background-color: F249ED;
}

#p2 {
	background-color: F22EEC;
}

#p1 {
	background-color: F20EEB;
}

#p0 {
	background-color: ED15E6;
}