#thesis {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

p {
	font-family: "Open Sans";
}

h2 {
	font-family: "Lobster";
}

h1 {
	font-family: "Lobster";
	text-transform: uppercase;
}

#by {
	font-family: "Condiment", cursive;
	font-style: italic;
}

a {
	font-size: 10px;
}

a:hover {
	color:red;
}
